body
    font-family: Arial, Helvetica, sans-serif

h1
    display: flex
    justify-content: center
    background-color: #ccc

button
    background-color: #f0f
    display: flex;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 600;
    border-radius: 8px;
    padding: 1em;
    border: none;
    color: #fff;

.container
    display: flex
    flex-direction: column

.row
    display: flex

.tile
    flex: 1
    margin: 10px
    background-color: #ccc
    border-radius: 5px
    height: 12em
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)

#progress-bar
    display: flex
    width: 100%
    height: 2em
    background-color: #ccc

.flipped
    background-image: url('./assets/cards.png')
    background-size: 200px
    background-repeat: no-repeat
    background-position: center
    background-color: #fff

@function displayFruits($pixelPosition)
    @return center  + ''$pixelPosition + px

.red_apple
    background-position: displayFruits(0);

.banana
    background-position: displayFruits(-200);

.orange
    background-position: displayFruits(-400);

.green_lemon
    background-position: displayFruits(-600);

.berry
    background-position: displayFruits(-800);

.apricot
    background-position: displayFruits(-1000);

.lemon
    background-position: displayFruits(-1200);

.strawberry
    background-position: displayFruits(-1400);

.green_apple
    background-position: displayFruits(-1600);

.peach
    background-position: displayFruits(-1800);

.grape
    background-position: displayFruits(-2000);

.watermelon
    background-position: displayFruits(-2200);

.plums
    background-position: displayFruits(-2400);

.pear
    background-position: displayFruits(-2600);

.cherry
    background-position: displayFruits(-2800);

.raspberry
    background-position: displayFruits(-3000);

.mango
    background-position: displayFruits(-3200);

.yellow_cherry
    background-position: displayFruits(-3400);
